<p id="notice"><%= notice %></p>

<p>
  <strong>Number:<%= @car.number %></p></strong>
<p>
  <strong>Type:</strong>
  <%= @car.car_type %>
</p>
<p>
  <strong>Up space count:</strong>
    <%= @car.up_space %>
</p>
<p>
  <strong>Low space count:</strong>
    <%= @car.low_space %>
</p>

<%= link_to 'Edit', edit_admin_car_path(@car) %> |
<%= link_to 'Back', [:admin, @car.train] %>
