<p id="notice"><%= notice %></p>

<p>
  <strong>Number:<%= @car.number %></p></strong>
<p>
  <strong>Type:</strong>
  <%= @car.car_type %>
</p>
<p>
  <strong>Seat space count:</strong>
    <%= @car.seat_space %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', @car.train %>
