<h1>Ticket info</h1>

<p>Train number</p>
<p><%= @ticket.train.number %></p>

<p>Departure station</p>
<p><%= @ticket.start_station.title %></p>

<p>Arrival station</p>
<p><%= @ticket.end_station.title %></p>

<p>Passenger name</p>
<p><%= @ticket.pas_name %></p>

<p>Passenger pasport</p>
<p><%= @ticket.pas_pasport %></p>
