<tr>
  <td>Train number: <%= ticket.train.number %></td>
  
  <% if current_user.admin? %>
    <td><%= link_to 'Show', admin_ticket_path(ticket) %></td>
    <td><%= link_to 'Edit', edit_admin_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% else %>
    <td><%= link_to 'Show',  ticket %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  
</tr>