<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Stations in route:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    No stations in route
  <% else %>
  <table>
    <thead>
      <tr>
        <td widht="100px">Station name</td>
        <td>Station order</td>
      </tr>
    </thead>
    <tbody>
      <% @route.railway_stations.ordered.each do |station| %>
        <tr>
          <td><%= station.title %></td>
          <td>
            <%= form_tag update_station_order_railway_station_path(station), method: :patch do %>
              <%= number_field_tag :order, station.position_in(@route) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>
          <td>
            <%= form_tag update_time_railway_station_path(station), method: :patch do %>
              <%= text_field_tag :arrival, station.station_time(@route, :arrival) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= text_field_tag :departure, station.station_time(@route, :departure) %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= submit_tag "Change" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
</p>

<p>
  <strong>Trains on that route:</strong>
</p>
<p>
  <% if @route.trains.empty? %>
    No trains on that route
  <% else %>
    <ul>
      <% @route.trains.each do |train| %>
        <li> <%= train.number %> </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
